#getreply_buttons {
  margin: 5px 0 0 0;
}

#getreply_buttons button {
  background: transparent;
  color: hsl(210, 85%, 50%);
  font-size: 12px;
  font-weight: 700;
  padding: 3px 8px;
  cursor: pointer;
  margin-left: 10px;
  border: 1px solid hsl(210, 85%, 50%);
  border-radius: 100px;
}
